 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 .icons {
   height: 74px;
   width: 100px;
   background-image: none;
   margin: 0 auto;
   padding: 15px;
 }
.float {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(43, 132, 248);
  color: white;
  border-radius: 50px;
  text-align: center;
  
}

.float2 {
  position: fixed;
  width: 75px;
  height: 75px;
  bottom: 130px;
  right: 40px;
  background-color: green;
  color: white;
  border-radius: 50px;
  text-align: center;
  
  
}
.my-float {
  margin-top: 26px;
 
  margin-left: 24px;
}
@media(max-width:991px){
  .float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: rgb(43, 132, 248);
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      box-shadow: 2px 2px 3px #999;
    }
  
    .float2 {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 120px;
      right: 40px;
      background-color: green;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      
    }
  
    .my-float {
      margin-top: 18px;
      padding-right: 6px;
    }

  
}
@media (max-width:576) {
  .float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      background-color: #d9c7a4;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      
    }
  
    .float2 {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 120px;
      right: 40px;
      background-color: #d9c7a4;
      color: #FFF;
      border-radius: 50px;
      text-align: center;
      box-shadow: 2px 2px 3px #999;
    }
  
    .my-float {
      margin-top: 22px;
    }
}
/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @inlude user-select(none);
  border: 1px solid #232b79;
  padding: 0 35px;
  font-size: 16px;
  line-height: 48px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #232b79;
}

@media (max-width: 767px) {
  .main-btn {
    font-size: 14px;
    padding: 0 25px;
    line-height: 43px;
  }
}

.main-btn i {
  font-size: 12px;
  margin-left: 5px;
}

.main-btn:hover {
  background-color: #fff;
  color: #232b79;
  border-color: #232b79;
}

.main-btn.main-btn-2 {
  background-color: #fff;
  color: #232b79;
  border-color: #232b79;
}

.main-btn.main-btn-2:hover {
  background-color: #232b79;
  border-color: #232b79;
  color: #fff;
}

.services-area {
  background-color: #ccd2f7;
}
.section-title h2 {
  position: relative;
  
  color: #232b79;
  font-weight: 500;
  padding-left: 110px;
}
.section-title h2::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100px;
  height: 1px;
  background-color: #232b79;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 767px) {
  .services-area {
    padding-top: 75px;
    padding-bottom: 80px;
  }
}

.services-left {
  position: relative;
}

.services-left .services img {
  width: 100%;
}

.single-services {
  border: 1px solid #ddd;
  padding: 25px 15px;
  background: #fff;
}

.single-services .services-icon i {
  font-size: 50px;
  color: #232b79;
}

.single-services .services-content .title {
  font-size: 20px;
  color: #232b79;
}